h1{
    font-style: "arial";
    text-align: center;
    font-size: 2em;S
    padding: 1%;
    margin-left: auto;
   margin-right: auto;
}
#jumbo{
    background: #d6f1e2c9;
    width: 45%;
    margin-left: 25%;
}
#moneda{
    margin: 1%;
    border-radius: 10%;
}
#monto{
    margin: 1%;
    border-radius: 8%;
    size: "50";
}
#btnCalcular{
    margin: 1%;
}
#divisas{
    margin-left: 1%;
}





